In [1]:
#gerekli kütüphaneleri import ettik
import numpy as np
import pandas as pd

In [2]:
#bir adet dizi oluşturduk
array = np.array([1,2,3])
array

array([1, 2, 3])

In [4]:
#birden fazla boyutu olan  bir dizi oluşturduk
array2 = np.array( [[1,2,3]  , [4,5,6]])
array2

array([[1, 2, 3],
       [4, 5, 6]])

In [7]:
#beşe beşlik bir matriks oluşturdum, içindeki en küçük değer 1 en büyük değer 349 olsun istedim
array3 = np.random.randint(1,350,size=(5,5))
array3

array([[236,  27, 345, 205, 341],
       [ 18,  69, 152, 172, 143],
       [333, 171, 199, 158, 135],
       [131,  90, 308, 243, 334],
       [107, 248, 324, 285, 151]], dtype=int32)

In [9]:
#bir blok önce rastgele oluşturduğum matriksi bir dataframeye çevirdim index ve sütun isimlerini  ben belirledim
#dataframei exceldeki tablolar gibi düşünmeniz faydalı olacaktır
dataframe = pd.DataFrame(data = array3 , index = [1,2,3,4,5] , columns = ["a","b","c","d","e"])
dataframe

     a    b    c    d    e
1  236   27  345  205  341
2   18   69  152  172  143
3  333  171  199  158  135
4  131   90  308  243  334
5  107  248  324  285  151

In [11]:
#dataframeye yeni bir sütun ekliyorum, bilerek içine bir adet nan değer atıyorum 
dataframe["f"] = np.array([2,3,4,5,np.nan])
dataframe

     a    b    c    d    e    f
1  236   27  345  205  341  2.0
2   18   69  152  172  143  3.0
3  333  171  199  158  135  4.0
4  131   90  308  243  334  5.0
5  107  248  324  285  151  NaN

In [15]:
#isnull diyerek değerleri gezip null olan varmı bulduruyorum sum fonksiyonu ile kaç adet true döndüğünü buluyorum 
dataframe.isnull().sum()

a    0
b    0
c    0
d    0
e    0
f    1
dtype: int64

In [45]:
#null değeri doldurmak için ilk önce sütunların ortalamasını alıyorum ilk mean fonksiyonu buna yarıyor, sonra tüm sütunların
#ortalamasının ortalamasını alıyorum ikinci mean buna yarıyor
dataframe.mean().mean()

np.float64(170.125)

In [46]:
#bir blok üstte bulduğum değeri fillna fonksiyonunu kullanarak null değerlerin yerine koyuyorum
dataframe.fillna(value= 170.125 , inplace = True)

In [47]:
dataframe

     a    b    c    d    e       f
1  236   27  345  205  341    2.00
2   18   69  152  172  143    3.00
3  333  171  199  158  135    4.00
4  131   90  308  243  334    5.00
5  107  248  324  285  151  164.75

In [25]:
#veriyi okuyup bir değişkene atıyoruz
data = pd.read_csv("C:/Users/Lenovo/Desktop/shopping_trends.csv")
#çalışıp çalışmadığını kontrol etmek için değişkenin adını yazıp tabloyu printledim
data

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1.0,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896.0,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897.0,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898.0,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3898,3899.0,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900.0,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [26]:
#veri setindeki ilk 15 satırı yazdırıyoruz
#içini boş bırakırsak 5 adet satır yazdırır
data.head(15)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1.0,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6.0,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Venmo,Standard,Yes,Yes,14,Venmo,Weekly
6,7.0,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Debit Card,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8.0,27,Male,Shorts,Clothing,34,Louisiana,NaN,Charcoal,Winter,3.2,Yes,Debit Card,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9.0,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Venmo,Express,Yes,Yes,8,Venmo,Annually
9,10.0,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,PayPal,2-Day Shipping,Yes,Yes,4,Cash,Quarterly
10,11.0,53,Male,Shoes,Footwear,34,Arkansas,L,Purple,Fall,4.1,Yes,Credit Card,Store Pickup,Yes,Yes,26,Bank Transfer,Bi-Weekly
11,12.0,30,Male,Shorts,Clothing,68,Hawaii,S,Olive,Winter,4.9,Yes,PayPal,Store Pickup,Yes,Yes,10,Bank Transfer,Fortnightly
12,13.0,61,Male,Coat,Outerwear,72,Delaware,M,Gold,Winter,4.5,Yes,PayPal,Express,NaN,Yes,37,Venmo,Fortnightly
13,14.0,65,Male,Dress,Clothing,51,New Hampshire,M,Violet,Spring,4.7,Yes,Debit Card,Express,Yes,Yes,31,PayPal,Weekly
14,15.0,64,Male,Coat,Outerwear,53,New York,L,Teal,Winter,4.7,Yes,PayPal,Free Shipping,Yes,Yes,34,Debit Card,Weekly

In [27]:
#veri setindeki sayısal değere sahip sütunların içindeki veriler hakkında basit bir açıklama
data.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3899.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.992819,44.068462,59.764359,3.749949,25.351538
std,1125.701032,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,976.500000,31.000000,39.000000,3.100000,13.000000
50%,1951.000000,44.000000,60.000000,3.700000,25.000000
75%,2925.500000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [28]:

#veri setinin sadece age sütununu aldık
data["Age"]

0       55
1       19
2       50
3       21
4       45
        ..
3895    40
3896    52
3897    46
3898    44
3899    52
Name: Age, Length: 3900, dtype: int64

In [29]:
#hata verecek çünkü kareli parantezleri eksik girdik
data["Age","Purchase Amount (USD)"]

KeyError: ('Age', 'Purchase Amount (USD)')

In [48]:
data[["Age","Purchase Amount (USD)","Category"]]

      Age  Purchase Amount (USD)     Category
0      55                     53     Clothing
1      19                     64     Clothing
2      50                     73     Clothing
3      21                     90     Footwear
4      45                     49     Clothing
...   ...                    ...          ...
3895   40                     28     Clothing
3896   52                     49  Accessories
3897   46                     33  Accessories
3898   44                     77     Footwear
3899   52                     81  Accessories

[3900 rows x 3 columns]

In [31]:
#ilk 100 satırı, ve sadece yaş ile kategori sütunlarını alıyoruz
data.head(100)[["Age","Category"]]

    Age     Category
0    55     Clothing
1    19     Clothing
2    50     Clothing
3    21     Footwear
4    45     Clothing
..  ...          ...
95   37     Footwear
96   32  Accessories
97   21     Footwear
98   20     Clothing
99   26     Clothing

[100 rows x 2 columns]

In [52]:
#burada filtreleme yapıyoruz syntaxlara çok dikkat edin
data[(data["Age"]>30) & (data["Purchase Amount (USD)"] > 50)]

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1.0,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
2,3.0,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
6,7.0,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Debit Card,Free Shipping,Yes,Yes,49,Cash,Quarterly
12,13.0,61,Male,Coat,Outerwear,72,Delaware,M,Gold,Winter,4.5,Yes,PayPal,Express,NaN,Yes,37,Venmo,Fortnightly
13,14.0,65,Male,Dress,Clothing,51,New Hampshire,M,Violet,Spring,4.7,Yes,Debit Card,Express,Yes,Yes,31,PayPal,Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3890,3891.0,35,Female,Shirt,Clothing,81,Nebraska,XL,Green,Winter,2.6,No,Credit Card,Standard,No,No,33,Debit Card,Annually
3892,3893.0,35,Female,Jewelry,Accessories,86,Michigan,L,Indigo,Summer,3.5,No,Bank Transfer,Standard,No,No,5,PayPal,Fortnightly
3894,3895.0,66,Female,Skirt,Clothing,78,Connecticut,L,White,Spring,3.9,No,Cash,2-Day Shipping,No,No,44,Credit Card,Every 3 Months
3898,3899.0,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900.0,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [33]:
#veri setindeki sütunların adını öğreniyoruz
data.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Payment Method',
       'Shipping Type', 'Discount Applied', 'Promo Code Used',
       'Previous Purchases', 'Preferred Payment Method',
       'Frequency of Purchases'],
      dtype='object')

In [34]:
#veri setinde kaç adet satır ve sütun var öğreniyoruz
data.shape

(3900, 19)

In [35]:
#yaş sütununu alıyoruz
data["Age"]

0       55
1       19
2       50
3       21
4       45
        ..
3895    40
3896    52
3897    46
3898    44
3899    52
Name: Age, Length: 3900, dtype: int64

In [39]:
#groupby fonksiyonu ile grupluyoruz (örnekte cinsiyete göre gruplamışız) getgroup ile istediğimiz değişkeni seçiyoruz
#(örnekte erkek seçmişiz)
#bunu bir değişkene atayarak ileride kullanabiliyoruz
maledata = data.groupby("Gender").get_group("Male")
maledata

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1.0,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2647,2648.0,60,Male,Shoes,Footwear,58,South Carolina,M,Red,Summer,3.3,No,Debit Card,2-Day Shipping,No,No,25,Debit Card,Annually
2648,2649.0,51,Male,Pants,Clothing,84,Illinois,M,Gray,Spring,3.9,No,Venmo,Next Day Air,No,No,14,PayPal,Bi-Weekly
2649,2650.0,23,Male,Gloves,Accessories,21,Minnesota,M,Magenta,Fall,3.9,No,Credit Card,Store Pickup,No,No,14,Bank Transfer,Fortnightly
2650,2651.0,20,Male,Socks,Clothing,35,Oregon,L,Maroon,Summer,4.2,No,PayPal,Standard,No,No,46,Credit Card,Every 3 Months
2651,2652.0,51,Male,Sneakers,Footwear,43,Tennessee,M,Cyan,Summer,4.6,No,Venmo,Store Pickup,No,No,27,PayPal,Quarterly

In [40]:
#bir sütundaki değerlerin her birinden kaç tane var onu buluyoruz
data["Item Purchased"].value_counts()

Item Purchased
Blouse        171
Pants         171
Jewelry       171
Shirt         169
Dress         166
Sweater       164
Jacket        163
Coat          161
Sunglasses    161
Belt          161
Sandals       160
Socks         159
Skirt         158
Scarf         157
Shorts        157
Hat           154
Handbag       153
Hoodie        151
Shoes         150
T-shirt       147
Sneakers      145
Boots         144
Backpack      143
Gloves        140
Jeans         124
Name: count, dtype: int64